@model RegistroAcademico.Models.Estudiante
@{
    ViewBag.Title = "Crear";
}

<br />
<br />

<div class="panel panel-success">
    <div class="panel-heading"><h3><b>Matrícula</b></h3></div>
    <br />
    <div class="panel-body">
        <div id="alert_placeholder"></div>
        <form id="estudiante" role="form" method="post" action="/Estudiante/Crear">

            <table class="table table-bordered">

                <tr>
                    <td>Tipo de documento</td>

                    <td>
                        @Html.DropDownListFor(e => e.TipoDocumento.IdTipoDocumento,
                        (IEnumerable<SelectListItem>)ViewBag.TiposDocumento,
                        string.Empty,
                        new
                        {
                            @class = "form-control",
                            @data_validation = "required",
                            @data_validation_error_msg = "Seleccione un tipo de documento"
                        })
                    </td>



                    <td>Número de documento</td>
                    <td>
                        @Html.TextBoxFor(e => e.NumeroDocumento,
                    new
                    {
                        @class = "form-control numero",
                        @placeholder = "Número Documento",
                        @maxlength = "10",
                        @data_validation = "required",
                        @data_validation_length = "min6",
                        @data_validation_error_msg = "Ingrese numero de documento valido",

                    })
                    </td>

                </tr>

                <tr>
                    <td>Primer Nombre</td>
                    <td>
                        @Html.TextBoxFor(e => e.PrimerNombre,
                    new
                    {
                        @class = "form-control text",
                        @maxlength = "100",
                        @data_validation = "custom, length",
                        @data_validation_regexp = "^([Aa-zZ]+)$",
                        @data_validation_length = "min3",
                        @data_validation_error_msg = "Ingrese Solo letras o un nombre Válido",
                    })
                    </td>

                    <td>Segundo Nombre</td>
                    <td>
                        @Html.TextBoxFor(e => e.SegundoNombre,
                    new
                    {
                        @class = "form-control text",
                        @maxlength = "100",
                        @data_validation_regexp = "^([Aa-zZ]+)$",
                        @data_validation_length = "min3",
                        @data_validation_error_msg = "Ingrese Solo letras o un nombre Válido",
                    })
                    </td>

                </tr>

                <tr>
                    <td>Primer Apellido</td>
                    <td>
                        @Html.TextBoxFor(e => e.PrimerApellido,
                    new
                    {
                        @class = "form-control text",
                        @maxlength = "100",
                        @data_validation = "custom, length",
                        @data_validation_regexp = "^([Aa-zZ]+)$",
                        @data_validation_length = "min3",
                        @data_validation_error_msg = "Ingrese Solo letras o un Apellido Válido",
                    })
                    </td>
                    <td>Segundo Apellido</td>
                    <td>
                        @Html.TextBoxFor(e => e.SegundoApellido,
                    new
                    {
                        @class = "form-control text",
                        @maxlength = "100",
                        @data_validation = "custom, length",
                        @data_validation_regexp = "^([Aa-zZ]+)$",
                        @data_validation_length = "min3",
                        @data_validation_error_msg = "Ingrese Solo letras o un Apellido Válido",
                    })
                    </td>

                </tr>
                <tr>
                    <td>Departamento</td>

                    <td>
                        @Html.DropDownListFor(e => e.Departamento.IdDepartamento,
                        (IEnumerable<SelectListItem>)ViewBag.Departamentos,
                        string.Empty,
                        new
                        {
                            @class = "form-control",
                            @data_validation = "required",
                            @data_validation_error_msg = "Seleccione un Departamento"
                        })
                    </td>


                    <td>Ciudad</td>
                    <td>
                        @Html.DropDownListFor(e => e.Ciudad.IdCiudad,
                        (IEnumerable<SelectListItem>)ViewBag.Ciudades,
                        string.Empty,
                        new
                        {
                            @class = "form-control",
                            @data_validation = "required",
                            @data_validation_error_msg = "Seleccione una Ciudad"
                        })
                    </td>

                <tr>
                    <td>Dirección</td>

                    <td>
                        @Html.TextBoxFor(e => e.Direccion,
                    new
                    {
                        @class = "form-control text",
                        @maxlength = "100",
                        @data_validation_length = "min5",
                        @data_validation_error_msg = "Ingrese una dirección válida",
                    })
                    </td>

                    <td>Telefono</td>

                    <td>
                        @Html.TextBoxFor(e => e.Telefono,
                    new
                    {
                        @class = "form-control numero",
                        @placeholder = "Número Documento",
                        @maxlength = "12",
                        @data_validation = "number",
                        @data_validation_length = "min7",
                        @data_validation_error_msg = "Ingrese numero telefónico válido",

                    })
                    </td>

                </tr>
                <tr>
                    <td>Correo Electrónico</td>
                    <td>
                        @Html.TextBoxFor(e => e.CorreoElectronico,
                    new
                    {
                        @class = "form-control email",
                        @placeholder = "Número Documento",
                        @maxlength = "100",
                        @data_validation = "email",
                        @data_validation_length = "min6",
                        @data_validation_error_msg = "Ingrese numero correo electrónico válido",

                    })
                    </td>

                    <td>Fecha de nacimiento</td>

                    <td>
                        <div class='input-group date fecha'>
                            @Html.TextBoxFor(p => p.FechaNacimiento, "{0:dd/MM/yyyy}", new { @class = "form-control", @placeholder = "Fecha de Nacimiento", @maxlength = "10", @data_validation = "required", data_validation_error_msg = "Debe ingresar la fecha de nacimiento" })
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>


                    </td>

                <tr>
                    <td colspan="4" align="right">
                        <input type="submit" value="Registrar" class="btn btn-success btn-lg active" />
                    </td>
                </tr>

            </table>

            <div class="modal fade" id="confirmacionAlmacenamientoEstudiante"
                 tabindex="-1" role="dialog"
                 aria-labelledby="confirmacionAlmacenamientoEstudianteLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="alert alert-info">
                                <strong>
                                    Registro Estudiante
                                </strong>
                            </div>
                        </div>
                        <div class="modal-body">
                            El Estudiante se ha registrado exitosamente
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-success btn-ok" data-dismiss="modal">Aceptar</a>
                        </div>
                    </div>
                </div>
            </div>

</form>

    </div>
</div>

<script>
    var spanishLanguage = {
        errorTitle: 'Hay datos incorrectos en el formulario'
    }

    $.validate({
        validateOnBlur: false, // disable validation when input looses focus
        errorMessagePosition: 'top', // Instead of 'inline' which is default
        scrollToTopOnError: false, // Set this property to true on longer forms
        language: spanishLanguage
    });

    $('#estudiante1').submit(function (event) {
        event.preventDefault();
        var formData = new FormData(this);
        $.ajax({
            type: "POST",
            url: '@Url.Action("CrearAJAX", "Estudiante")',
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                if (response.mensaje == "") {
                    if ($('#IdEstudiante').val() == "0") {
                        $('#NumeroDocumento').val("");
                        $('#TipoDocumento_IdTipoDocumento').val("");
                        $('#PrimerNombre').val("");
                        $('#SegundoNombre').val("");
                        $('#PrimerApellido').val("");
                        $('#SegundoApellido').val("");
                        $('#FechaNacimiento').val("");
                    }
                    $('#confirmacionAlmacenamientoEstudiante').modal('show');
                } else {
                    bootstrap_alert.warning(response.mensaje);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                bootstrap_alert.warning("Error al almacenar el estudiante.");
            }
        });
    });



    bootstrap_alert = function () { };
    bootstrap_alert.warning = function (message) {
        $('#alert_placeholder').
            html('<div class="alert alert-danger">' +
            '<a class="close" data-dismiss="alert">×</a><span>'
            + message + '</span></div>');
    };



</script>





